body{
    background-color: var( --color-grey-1);
    font-family: var( --font-family);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
  
}

.logo{
    margin-top: 2rem;
}

h1{
    color: var(--color-grey-3);
    font-weight: 500;
    font-size: var( --font-1);
    text-align: center;
    margin-bottom: 3rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35rem;
    
}

#loading{
    color: var( --color-grey-5);
    font-weight: 500;
    font-size: var(--font-2);
}

.hidden{
    display: none;
}

.fild-search{
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}

input{
    padding: 15px 24px;
    border-radius: var( --border-radius);
    background-color: var(  --color-grey-2);
    border: 1px solid var(--color-grey-2);
    width: 45%;
    height: 1rem;
    color: var( --color-grey-6);
}

#button-search{
    background-color: var( --color-complementary-1);
    border: 1px solid var(--color-complementary-1);
    padding: 12px 34px;
    border-radius: var( --border-radius);
    width: 20%;
    height: 2.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 80%;
    justify-items: center;  
    align-items: center;
}

.pokemons{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-grey-2);
    width: 100%;
    border-radius: var(--border-radius);
    height: 60px;

}

.pokemon{
    display: flex;
    align-items: center;
}

.name-pokemon{
    color: var(--color-grey-4);
    font-size: var(--font-2);
}

.image-pokemon{
    width: 3.75rem;
    height: 3.75rem;
    margin-right: 1rem;
}

@media(min-width:800px){
    header{
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 5rem;
    }
    h1{
        margin-bottom: 5rem;
    }
    #button-search{
        cursor: pointer;
    }
    
}